<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Info-E</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css?v=2" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.ico">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    @RenderBody()
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top" id="navBar">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text page-scroll" href="index.html">INFO - E</a>

        <!-- Image Logo
        <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a>
        -->
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#newsDisplayer">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#courses">Cursos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" id="profileNav">Perfil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" id="emailNav">Correo</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->

    <!-- Profile Modal -->
    <div id="profileModal" class="custom-modal">
        <div class="custom-modal-content2">
            <!-- Close Button -->
            <span class="custom-modal-close">&times;</span>

            <!-- First Row (Image and Name/Role) -->
            <div class="row-profile">
                <div class="col-md-2">
                    <!-- Profile Image (Placeholder or Actual Image) -->
                    <img src="~/images/defaultpfp.jpg" alt="Profile Picture" class="img-fluid">
                </div>
                <div class="col-md-3">
                    <!-- Name and Role -->
                    <h3><span id="professorName">Nombre</span></h3>
                    <p><span id="professorID">#ID</span></p>
                </div>
                <div class="col-md-4">
                    <!-- Empty Column for spacing -->
                </div>
            </div>

            <!-- Second Row (Details) -->
            <div class="row">
                <div class="col-md-8">
                    <!-- Form for Additional Profile Information -->
                    <div class="row">
                        <div class="col-md-6">
                            <p for="pName">Nombre:</p>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="pName" name="pName" class="form-control" value="Example" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p for="pSname">Apellido:</p>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="pSname" name="pSname" class="form-control" value="Example" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p for="pMail">Correo:</p>
                        </div>
                        <div class="col-md-6">
                            <input type="email" id="pMail" name="pMail" class="form-control" value="example@gmail.com" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="pExpertise">Descripción:</label>
                        </div>
                        <div class="col-md-6">
                            <textarea id="pExpertise" name="pExpertise" class="form-control" rows="4" readonly></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p for="pPic">Foto de perfil</p>
                        </div>
                        <div class="col-md-6">
                            <label for="pPic" class="file-label">Elegir archivo</label>
                            <input type="file" id="pPic" name="pPic" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p for="pPass">Contraseña:</p>
                        </div>
                        <div class="col-md-6">
                            <input type="password" id="pPass" name="pPass" class="form-control" required readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6 text-right">
                    <!-- Buttons aligned to the right of the Likings section -->
                    <button onclick="UpdateProfessor()" class="btn">Guardar</button>
                    <button onclick="enableEditingAll()" class="btn">Editar</button>
                    <button onclick="disableEditingAll(); GetProfessorData();" class="btn">Cancelar</button>
                </div>
            </div>
        </div>

        </div>



    <!-- Bootstrap 5 Modal -->
    <div id="emailModal" class="custom-modal">
        <div class="custom-modal-content2">
            <span class="custom-modal-close">&times;</span>

            <!-- Tab Buttons -->
            <ul class="nav nav-tabs" id="emailTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="appointments-tab" data-bs-toggle="tab" data-bs-target="#appointments" type="button" role="tab" aria-controls="appointments" aria-selected="true" onclick="LoadAppConsultations()">Citas</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="consults-tab" data-bs-toggle="tab" data-bs-target="#consults" type="button" role="tab" aria-controls="consults" aria-selected="false" onclick="GetPrivateConsultations()">Consultas</button>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content" id="emailTabContent">
                <!-- Appointments Tab -->
                <div class="tab-pane fade show active" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">
                    <div class="email-container">
                        <div class="email-list">
                            <table class="email-table" id="email-table-appointment">
                                <tbody>
                                    <tr>
                                        <td class="email-info">
                                            <h4>Appointment Subject</h4>
                                            <p id="name_sender">From: sender@example.com</p>
                                        </td>
                                        <td class="email-action">
                                            <button class="btn btn-primary">Open</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="email-content">
                            <p class="previous_text" id="previous_text">Seleccione un mensaje para verlo</p>
                            <div class="row-profile">
                                <div class="col-md-2">
                                    <img src="~/images/defaultpfp.jpg" alt="Profile Picture" class="img-fluid" id="student_app_photo" hidden="true">
                                </div>
                                <div class="col-md-3">
                                    <h3 id="student_app_name" hidden>John Doe</h3>
                                    <p id="student_app_date" hidden>Jan 26, 2025</p>
                                </div>
                            </div>
                            <p class="email-body" id="student_app_text" hidden>Appointment details here...</p>
                            <h3 id="student_app_reply" hidden>Responder</h3>
                            <textarea class="form-control" placeholder="Write your reply..." id="student_app_answer" hidden></textarea>
                            <h1 id="student_app_idconsult" hidden></h1>
                            <h1 id="student_app_student" hidden></h1>
                            <h1 id="student_app_professor" hidden></h1>

                            <button class="btn btn-primary send-btn custom-send-btn" id="sender_app" onclick="PutAppConsultation()" hidden>Enviar</button>
                            
                        </div>
                    </div>
                </div>

                <!-- Consults Tab -->
                <div class="tab-pane fade" id="consults" role="tabpanel" aria-labelledby="consults-tab">
                    <div class="email-container">
                        <div class="email-list">
                            <table class="email-table" id="email-table-private">
                                <tbody>
                                    <tr>
                                        <td class="email-info">
                                            <h4>Consult Subject</h4>
                                            <p>From: sender@example.com</p>
                                        </td>
                                        <td class="email-action">
                                            <button class="btn btn-primary">Open</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="email-content">
                            <p class="previous_text" id="previous_priv_text">Seleccione un mensaje para verlo</p>
                            <div class="row-profile">
                                <div class="col-md-2">
                                    <img src="~/images/defaultpfp.jpg" alt="Profile Picture" class="img-fluid" id="student_private_photo">
                                </div>
                                <div class="col-md-3">
                                    <h3 id="student_private_name">John Doe</h3>
                                    <p id="student_private_date">Jan 27, 2025</p>
                                </div>
                            </div>
                            <p class="email-body" id="student_private_text">Consult details here...</p>
                            <h3 id="student_private_reply">Reply</h3>
                            <textarea class="form-control" placeholder="Write your reply..." id="student_private_answer"></textarea>
                            <h1 id="student_private_idconsult" hidden></h1>
                            <h1 id="student_private_student" hidden></h1>
                            <h1 id="student_private_professor" hidden></h1>
                            <button class="btn btn-primary send-btn custom-send-btn" id="sender_private" onclick="PutPrivateConsultation()">Enviar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    




    <!-- Header -->

    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Right Side: Text -->

                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1>¡Bienvenido!</h1>
                            <p>
                                Info-E es una plataforma independiente diseñada para conectar a los estudiantes de la carrera de Informática Empresarial en la sede de la UCR en Paraíso. ¡No dudes en echar un vistazo a lo que ofrecemos!
                            </p>
                        </div>
                    </div>

                    <!-- Left Side: Form -->
                    <div class="col-lg-6">
                        <div class="form-container">
                            <h2>Ingreso</h2>
                            <form id="loginForm" data-toggle="validator" data-focus="false">
                                <div class="form-group">
                                    <input type="text" class="form-control-input" id="lId" name="lId" required>
                                    <label class="label-control" for="lId">Carné de trabajo</label>

                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control-input" id="lPassword" name="lPassword" required>
                                    <label class="label-control" for="lPassword">Contraseña</label>

                                </div>

                                <div class="form-group">
                                    <button type="button" class="form-control-submit-button" onclick="AuthenticateProfessor()">Ingresar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->




    <div id="newsDisplayer" class="newsDisplayer">
        <div class="col-lg-12 d-flex justify-content-center">
            <h1>Noticias</h1>
        </div>
        <div class="newsCar">
            <div id="newsContainer" class="newsContainer">
                <button class="carousel-control left" id="prevBtn"> &lt </button>


                <div class="news-item">
                    <img src="" alt="News Image" class="news-image-preview" id="newImage0" />
                    <div class="news-content">
                        <h3 class="news-title" id="newPreviewTittle0"></h3>
                        <a href="#" class="more-about-link0" id="newsLink0">
                            <u>Saber más</u>
                        </a>
                    </div>
                </div>

                <div class="news-item">
                    <img src="" alt="News Image" class="news-image-preview" id="newImage1" />
                    <div class="news-content">
                        <h3 class="news-title" id="newPreviewTittle1"></h3>
                        <a href="#" class="more-about-link1" id="newsLink1">
                            <u>Saber más</u>
                        </a>
                    </div>
                </div>

                <div class="news-item">
                    <img src="" alt="News Image" class="news-image-preview" id="newImage2" />
                    <div class="news-content">
                        <h3 class="news-title" id="newPreviewTittle2"></h3>
                        <a href="#" class="more-about-link2" id="newsLink2">
                            <u>Saber más</u>
                        </a>
                    </div>
                </div>
                <button class="carousel-control right" id="nextBtn">&gt</button>

            </div>
        </div>
    </div>

    <!-- News Modal -->
    <div id="newsModal" class="custom-modal">
        <div class="custom-modal-content2">
            <span class="custom-modal-close">&times;</span>

            <div class="news-container">
                <!-- Left Side: Text -->
                <div class="news-text">
                    <h1 class="news-title" id="newTitle">Exciting News Title</h1>
                    <p class="news-date" id="newDate">Published on: January 26, 2025</p>
                    <p class="news-body" id="newBody">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod malesuada dolor nec bibendum.
                        Cras vehicula mi eget lectus efficitur, eget accumsan ante condimentum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod malesuada dolor nec bibendum.
                        Cras vehicula mi eget lectus efficitur, eget accumsan ante condimentum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod malesuada dolor nec bibendum.
                        Cras vehicula mi eget lectus efficitur, eget accumsan ante condimentum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod malesuada dolor nec bibendum.
                        Cras vehicula mi eget lectus efficitur, eget accumsan ante condimentum.
                    </p>
                </div>

                <!-- Right Side: Image -->
                <div class="news-image-container">
                    <img src="~/images/about.jpg" alt="News Image" class="news-image" id="newFullImage" />
                </div>
            </div>

            <!--News Comment section-->
            <div class="news-comment-container">
                <h1 class="pull-left">Comentarios</h1>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="news-comment-form">
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                    <img class="submit-comment-media" src="~/images/defaultpfp.jpg" alt="" id="userImageNews">
                                </div>

                                <div class="comment col-xs-12 col-sm-9 col-lg-10">
                                    <form>
                                        <textarea class="form-control" id="newsCommentContent" placeholder="Escribe un mensaje" required=""></textarea>
                                        <button type="submit" id="newsCommentSubmit" onclick="postNewsComment()" class="btn btn-normal pull-right">Enviar</button>

                                    </form>
                                </div>
                            </div>

                            <h3>Comentarios</h3>
                            <div class="news-comment-loader" id="NewsCommentsLoader">

                                <div class="media">
                                    <div class="col-sm-3 col-lg-2 hidden-xs">
                                        <img class="comment-media-object" src="~/images/defaultpfp.jpg" alt="">
                                    </div>

                                    <div class="comment col-xs-12 col-sm-9 col-lg-10">
                                        <h4 class="media-heading">Default name</h4>
                                        <h5 class="media-heading">02/17/25</h5>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div id="courses" class="courses">
        <div class="container">

            <div class="col-lg-12 d-flex justify-content-center">
                <h1>Cursos</h1>
            </div>

            <div class="row">
                <!-- Left Side: Dropdown and Table -->
                <div class="col-lg-4">
                    <!-- Dropdown -->
                    <div class="form-group d-flex align-items-center mb-4">
                        <label for="ciclos" class="dropdown-label me-2">Ciclos:</label>
                        <select id="cicles" class="form-control dropdown">
                            
                        </select>
                    </div>

                    <!-- Table -->
                    <label for="coursesTable" class="table-label">Listado de Cursos:</label>
                    <table id="coursesTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Siglas</th>
                                <th>Nombre</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <!-- Right Side: Blank Square -->
                <div class="col-lg-8">
                    <div class="blank-square">
                        <section class="course-info">
                            <h4 class="course-acronym" id="courseAcronym">Siglas</h4>
                            <h2 class="course-title" id="courseName">Nombre</h2>
                            <p class="course-about" id="courseDescription">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada.
                            </p>
                            <h4>Profesor asignado</h4>
                            <p class="assigned-teacher" id="assignedTeacher">Ejemplo</p>
                            <!-- Buttons -->
                            <div class="button-group mt-4">
                                <button id="discussionButton">Discusión</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Course Modal -->
    <div id="courseModal" class="custom-modal">
        <div class="custom-modal-content2">
            <span class="custom-modal-close">&times;</span>


            <!-- Course Discussion Section -->
            <div class="course-comment-container">
                <h1>Discusión del curso</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="course-comment-form">
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                    <img id="imageUser" class="submit-comment-media" src="~/images/defaultpfp.jpg" alt="">
                                </div>
                                <div class="comment col-xs-12 col-sm-9 col-lg-10">
                                    <form>
                                        <textarea id="textareacomment" class="form-control" placeholder="Your thoughts on this course..."></textarea>
                                        <button id="submitComment" type="button" onclick="postComment()" class="btn btn-normal">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <h3>Discusión</h3>
                        <div class="course-comment-loader">
                            <div class="media">
                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                    <img class="comment-media-object" src="~/images/defaultpfp.jpg" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Algunas palabras sobre Info-E</h4>
                        <p class="white">Info-E es un proyecto de estudiantes para estudiantes desarrollado durante el curso Lenguajes para Aplicaciones Comerciales, en verano de 2025</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>asc2-dev</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" >Dennis Quirós</a>
                            </li>
                            <li>
                                <a class="white">Jose Pablo Ramirez</a>
                            </li>
                            <li>
                                <a class="white">Jason Quesada</a>
                            </li>
                            <li>
                                <a   class="white">Lito Valverde</a>
                            </li>
                            
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Otros accesos</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="https://portalstudent-g5dwcrfthda7cyec.brazilsouth-01.azurewebsites.net/ ">Info-E: Estudiantes</a>
                            </li>

                            <li class="media">
                                <a class="white" href="#your-link">Info-E: Admin</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->n
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2025 <a href="https://inovatik.com"</a>UCR-RP</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->
    <!-- Scripts -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="js/site.js"></script>
    <script src="js/modals.js"></script>
</body>
</html>

<!-- Commit deez nuts!!!-->